:root {
  --primary: #fcdec0;
  --secondary: #7d5a50;
  --tertiary1: #e5b299;
  --tertiary2: #b4846c;
}

@font-face {
  font-family: Aeonik-Bold;
  src: url("./assets//fonts/fonnts.com-Aeonik-Bold.ttf");
}
@font-face {
  font-family: Aeonik-Regular;
  src: url("./assets/fonts/fonnts.com-Aeonik-Regular.ttf");
}
@font-face {
  font-family: Aeonik-Light;
  src: url("./assets/fonts/fonnts.com-Aeonik-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
